// Colors

// Base16 - Mocha scheme
// http://chriskempson.github.io/base16/#mocha
@00: #3b3228;
@01: #534636;
@02: #645240;
@03: #7e705a;
@04: #b8afad;
@05: #d0c8c6;
@06: #e9e1dd;
@07: #f5eeeb;

@08: #cb6077; // pink
@09: #d28b71; // orange
@0A: #f4bc87; // yellow
@0B: #beb55b; // green
@0C: #7bbda4; // teal
@0D: #8ab3b5; // blue
@0E: #a89bb9; // purple
@0F: #bb9584; // brown

// darker browns
@-00: #1d1813;
@-01: #2c251e;

@text-color: @03;
@text-color-subtle: @03;
@text-color-highlight: @06;
@text-color-selected: @05;

@text-color-info: @0D;
@text-color-success: @0B;
@text-color-warning: @09;
@text-color-error: @08;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@app-background-color: @-00;

@background-color-info: @0D;
@background-color-success: @0B;
@background-color-warning: @09;
@background-color-error: @08;
@background-color-highlight: rgba(255, 255, 255, 0.07);
@background-color-selected: @-00;

@tree-background-color: @-01;
@editor-background-color: @00;

@base-background-color: @-01;
@base-border-color: rgba(0, 0, 0, 0.5);

@pane-item-background-color: @-01;
@pane-item-border-color: rgba(0, 0, 0, 0.5);

@input-background-color: @-00;
@input-border-color: @base-border-color;

@tool-panel-background-color: @-00;
@tool-panel-border-color: transparent;

@inset-panel-background-color: @-00;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: @02;
@panel-heading-border-color: fadein(@base-border-color, 10%);

@overlay-background-color: @-00;
@overlay-border-color: @background-color-highlight;

@button-background-color: @-00;
@button-background-color-hover: @-00;
@button-background-color-selected: @-00;
@button-border-color: transparent;

@tab-bar-background-color: @-00;
@tab-bar-border-color: transparent;
@tab-background-color: @-00;
@tab-background-color-active: @00;
@tab-border-color: transparent;

@tree-view-background-color: @-00;
@tree-view-border-color: transparent;

@ui-site-color-1: @0B; // green
@ui-site-color-2: @0D; // blue
@ui-site-color-3: @09; // orange
@ui-site-color-4: @0E; // purple
@ui-site-color-5: @0A; // yellow

// Sizes

@font-size: 11px;

@disclosure-arrow-size: 10.5px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;

@tab-height: 30px;


// Other

@font-family-code: 'Source Code Pro', 'Lucida Grande', 'Segoe UI', sans-serif;
@font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
