# File
*.kdbx
_*
.vim_colorv_cache
.NERDTreeBookmars
*.log
*.exe
.DS_Store
.viminfo
.bash_history
.erlang.cookie
.mongorc.js
.sh_history
.dbshell
.netrc
*.dll




# Directory
.heroku/
.vim/bundle/*
.cache/
.gem/
.ssh/
.node-gyp/
./Tools/Console2/
.npm/
target
Library
Tools/vim/bundle/*
Tools/vim/tutor/
.config/
./**/tags
