# File
.rnd
*.kdbx
_*
.vim_colorv_cache
.NERDTreeBookmarks
*.log
*.exe
.DS_Store
.viminfo
.bash_history
.erlang.cookie
.mongorc.js
.sh_history
.dbshell
.netrc
*.dll
tags
*.orig

.gnupg


# Directory
.heroku/
.vim/bundle/*
.cache/
.gem/
.ssh/
.node-gyp/
./Tools/Console2/
.npm/
target
Library
Tools/vim/bundle/*
Tools/vim/tutor/
.config/
.lesshst
.atom
./assets/**/lib
.bin
.plugman
.npmrc
.kre
.forever
.android
.atom/packages
.cordova
.grunt-init
Tools/vim/vimrc
Tools/vim/vim74
Tools/cmder
.wireshark/
.git-templates/
.k/
.boot2docker/
.vagrant*
VirtualBox VMs/
.VirtualBox/
Applications/
