[submodule "tmux-MacOSX-pasteboard"]
	path = tools/osx/iTerm2-Color-Schemes
	url = git://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "iTerm2-Color-Schemes"]
	path = tools/osx/iTerm2-Color-Schemes
	url = git://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "powerline-fonts"]
	path = tools/powerline/powerline-fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
[submodule "powerline"]
	path = tools/powerline/powerline
	url = git://github.com/powerline/powerline.git
[submodule "polybar-spotify"]
	path = tools/polybar/polybar-spotify
	url = git://github.com/Jvanrhijn/polybar-spotify.git
[submodule "polypomo"]
	path = tools/polybar/polypomo
	url = git://github.com/unode/polypomo.git
[submodule "polybar-scripts"]
	path = tools/polybar/polybar-scripts
	url = git://github.com/polybar/polybar-scripts.git
