'editor':
  'fontSize': 12
  'showIndentGuide': true
  'showInvisibles': true
  'preferredLineLength': 75
'core':
  'themes': [
    'spacegray-mocha-ui'
    'jellybeans'
  ]
  'useReactEditor': true
  'projectHome': 'C:\\Projects'
  'audioBeep': false
  'disabledPackages': [
    'welcome'
  ]
'exception-reporting':
  'userId': '1c9d1b3d-fdb9-e390-da2c-bd840428aa77'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'c4e928ad4b095ae6ca1595c2945c97457bc6fe1f'
